body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: gainsboro;
    padding: 2%;
    width: 100%;
}

h1 {
    font-size: 2.5em;
    color: #333;
    margin: 0;
    text-align: center;
    font-family: "Source Serif 4", serif;
    font-weight: bold;
    
}

nav {
    position: absolute;
    right: 40px;
}

a {
    text-decoration: none;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 2%;
    background-color: aliceblue;
    width: 100%;
}

#diego {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 2%;
}

#diego p {
    font-size: 1.5em;
    color: #333;
    margin: 0;
    text-align: center;
    font-family: "Source Serif 4", serif;
    

}

img {
    width: 150px;
    height: 250px;
    
}

#mascotas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 2%;
}

.mascotas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 2%;
}

.mascotas img {
    width: 200px;
    height: 250px;
    padding: 0 40px;
}

.mascotas h3{
    font-size: 1.5em;
    color: #333;
    margin: 0;
    text-align: center;
    font-family: "Source Serif 4", serif;
    font-weight: bold;
}

